<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css_login.css">
    <link rel="stylesheet" href="css_tab.css">
    <meta charset="utf-8" />
    <title>Login Page</title>
    <script src="jquery.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="tab_content.js"></script>
    <script>
        var socket = io();
        
        // login failed
        socket.on("login_fail", function (data) {
            $("#status").text('Wrong Username or Password. Retry.');
        });
        // login succeeded. Set cookies if needed
        socket.on("login_success", function (data) {
            Cookies.set('token', data.token, { expires: 3 });
            Cookies.set('sid', data.sid, { expires: 3 });
            $("#status").text('');
            $("#form_login").hide(2000);
            $("#form_signup").hide(2000);
            $("#form_submit").show(1000);
            $("#nowuser").text('Welcome ' + $("#username").val());
        });
        socket.on('already_authenticated', function (data) {
            $("#status").text('');
            $("#form_login").hide(0);
            $("#form_signup").hide(0);
            $("#form_submit").show(0);
            $("#nowuser").text('Welcome ' + $("#username").val());
        });
        socket.on("get_point", function (data) {
            $("#pa_result").text(data);
        });
<<<<<<< HEAD
        socket.on("Exist this account", function (data) {
            alert('This account is existence !');
        });
        socket.on("signup_successfully", function (data) {
=======
        socket.on("Exist this account", function(data) {
            alert('This account is existence !');
        });
        socket.on("signup_successfully", function(data) {
>>>>>>> 8ec1a13b9831428ddf2c258efd16c12dc057c381
            alert('Sign up successfully !');
            $("#form_signup").hide(2000);
            $("#form_submit").show(1000);
        });
        $(document).ready(function () {
            // by default, load form_login first
            // other forms hide
<<<<<<< HEAD
            if (0) {
                $("#form_signup").hide();
                $("#btn_view_result").hide();
            } else {
                //  $("#form_submit").show();
                $("#form_login").show();
                $("#form_signup").hide();
                $("#btn_view_result").hide();
=======
            if ($("#username").val() == '') {
>>>>>>> 8ec1a13b9831428ddf2c258efd16c12dc057c381
                $("#form_submit").hide();
                if (0) {
                    $("#form_signup").hide();
                    $("#btn_view_result").hide();
                } else {
                    //  $("#form_submit").show();
                    $("#form_login").show();
                    $("#form_signup").hide();
                    $("#btn_view_result").hide();
                    $("#form_submit").hide();
                }
            }

            $("#btnlogin").click(function () {
                let data = {
                    username: $("#username").val(),
                    password: $("#password").val(),
                }
                socket.emit("login", data);
            });
            // sign up buton, create new account
            // hide other form except form_signup
            $("#btnsignup").click(function () {
                $("#form_submit").hide();
                $("#form_login").hide();
                $("#form_signup").show();
                $("#btn_view_result").hide();
            });
            // back to log in buton
            $("#btnlogback").click(function() {
                $("#form_submit").hide();
                $("#form_login").show();
                $("#form_signup").hide();
                $("#btn_view_result").hide();
            });
            // button sign up and log in
            // check confirm password
            // write new data
            // check data to log in
<<<<<<< HEAD
            $("#btnSL").click(function () {
                if ($('#Spassword').val() != $("#Scpassword").val())
                    alert('Wrong Confirm Password !');
                else {
                    let data = new Array($("#Susername").val(), $('#Suseremail').val(), $('#Spassword')
                        .val(), $("#Scpassword").val());
=======
            $("#btnSL").click(function() {
                if ($('#Spassword').val() != $("#Scpassword").val())
                    alert('Wrong Confirm Password !');
                else {
                    let data = new Array($("#Susername").val(), $('#Suseremail').val(), $('#Spassword').val(), $("#Scpassword").val());
>>>>>>> 8ec1a13b9831428ddf2c258efd16c12dc057c381
                    socket.emit("signup", data);
                }
            });
            // compiler testing, show result
            $("#view_result").click(function () {
                socket.emit("wait_for_point", $("#username").val());
            });
            $("#send_file").click(function () {
                $("#btn_view_result").show(5000);
            });
        });
    </script>
</head>

<body>
    <div class="khunglonbaoquanh" id="form_login">
        <div class="khungtieude">
            <h1>LOG IN</h1>
        </div>
        <div class="divghinhandata">
            <input type="text" name="username" id="username" placeholder="User Name" class="ghinhandata"/>
        </div>
        <div class="divghinhandata">
            <input type="password" name="password" id="password" placeholder="Password" class="ghinhandata"/>
        </div>
        <div class="divghinhandata">
            <input type="submit" value="Log in" name="submit" class="buttonlogin" style="text-align:center" id="btnlogin"/>
        </div>
        <div class="divghinhandata">
<<<<<<< HEAD
            <input type="submit" value="Don't have an account. Sign up for once" name="submit" class="buttonsignup" style="text-align:center"
                id="btnsignup">
=======
            <input type="submit" value="Don't have an account. Sign up for once" name="submit" class="buttonsignup" style="text-align:center" id="btnsignup"/>
>>>>>>> 8ec1a13b9831428ddf2c258efd16c12dc057c381
        </div>
        <div class="divstatus">
            <p id="status"></p>
        </div>
    </div>
    <div class="khunglonbaoquanh" id="form_signup">
        <div class="khungtieude">
            <h1>SIGN UP</h1>
        </div>
        <div class="divghinhandata">
            <input type="text" name="username" id="Susername" placeholder="User Name" class="ghinhandata"/>
        </div>
        <div class="divghinhandata">
            <input type="text" name="usermail" id="Suseremail" placeholder="Email" class="ghinhandata"/>
        </div>
        <div class="divghinhandata">
            <input type="password" name="password" id="Spassword" placeholder="Password" class="ghinhandata"/>
        </div>
        <div class="divghinhandata">
            <input type="password" name="cpassword" id="Scpassword" placeholder="Confirm password" class="ghinhandata"/>
        </div>
        <div class="divghinhandata">
            <input type="submit" value="Sign up and Log in" name="submit" class="buttonlogin" style="text-align:center" id="btnSL"/>
        </div>
        <div class="divghinhandata">
            <input type="submit" value="Already have an account. Log in." name="submit" class="buttonsignup" style="text-align:center" id="btnlogback"/>
        </div>
        <div class="divstatus">
            <p id="status1"></p>
        </div>
    </div>
    <div id="form_submit">
        <div class="tab">
            <button class="tablinks" onclick="openCity(event, 'London')">Submit</button>
            <button class="tablinks" onclick="openCity(event, 'Paris')">Points</button>
            <button class="tablinks" onclick="openCity(event, 'Tokyo')">Chat</button>
            <button class="tablinks" onclick="openCity(event, 'Tokyo')">Rank</button>
            <button class="Logout" style="float:right;color:white" onclick="logout()">Log out</button>
        </div>
        <div id="London" class="tabcontent">
            <form action="/submitfile" method="post" enctype="multipart/form-data">
                <div>
                    <h4 style="font-family:'Leelawadee UI';" id="nowuser"></h4>
                </div>
                <div class="head_topic">
                    <div>
<<<<<<< HEAD
                        <h3> Assignment</h3>
                    </div>
                    <div style="text-align:left;font-size:14px">
                        <p>
                            <b>
                                <u>Đề bài:</u>
                                <i> Em hãy viết một chương trình đọc vào các số trong file input.txt và tìm 4 giá trị: tổng của
                                    dãy số, giá trị lớn nhất, giá trị nhỏ nhất, và số trung bình, sau đó ghi ra file output.txt.</i>
                            </b>
                        </p>
                    </div>
                    <div>
                        <input type="file" id="file1" name="file1" style="content:'Main file'"></input>
                        <br>
                        <input class="subpro" type="submit" id="send_file" onclick=""></input>
=======
                        <h3> Topic</h3>
                    </div>
                    <div>
                        <p><b><u>Đề bài:</u><i> Em hãy viết một chương trình đọc vào các số trong file input.txt và tìm 4 giá trị: tổng của dãy số, giá trị lớn nhất, giá trị nhỏ nhất, và số trung bình, sau đó ghi ra file output.txt.</i></b></p>
>>>>>>> 8ec1a13b9831428ddf2c258efd16c12dc057c381
                    </div>
                </div>
                <div class="side_submit">
                    <label class = "fileContainer">Choose file
                    <input type="file" id="file1" name="file1" style="content:'Main file'" /><br>
                    </label>
                    <input class="subpro" type="submit" id="send_file" onclick="" />
                </div>
                <div class="side_result">
                    <div>
                        <h4>Result</h4>
                    </div>
                    <div style="text-align:left;font-size:14px">
                        <p id="pa_result">
                            <b></b>
                        </p>
                    </div>
                    <div style="float:right" id="btn_view_result">
                        <button id="view_result">Xem kết quả</button>
                    </div>
                </div>
            </form>
        </div>
        <div id="Paris" class="tabcontent">
            <h3>Paris</h3>
            <p>Paris is the capital of France.</p>
        </div>
        <div id="Tokyo" class="tabcontent">
            <h3>Tokyo</h3>
            <p>Tokyo is the capital of Japan.</p>
        </div>
    </div>
</body>

</html>