<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&amp;subset=vietnamese" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">    
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/tabs.css">
    <link rel="stylesheet" href="css/main.css">
    <title>Login Page</title>
    <script src="jquery.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="js/tabs.js"></script>
    <script src="js/main.js"></script>
</head>

<body>
    <div class="background">
    </div>
    
    <div class="auth-container" id="form-signup">
        <div class="auth-header">SIGN UP</div>
        <form action="javascript:void(0);">
            <div class="auth-field">
                <input type="text" name="username" id="Susername" placeholder="Username" class="ghinhandata" />
            </div>
            <div class="auth-field">
                <input type="text" name="usermail" id="Suseremail" placeholder="Email" class="ghinhandata" />
            </div>
            <div class="auth-field">
                <input type="password" name="password" id="Spassword" placeholder="Password" class="ghinhandata" />
            </div>
            <div class="auth-field">
                <input type="password" name="cpassword" id="Scpassword" placeholder="Confirm password" class="ghinhandata" />
            </div>
            <div class="auth-field">
                <input type="submit" value="Sign up and Log in" name="submit" class="btn-login" style="text-align:center" id="btnSL" />
            </div>
            <div class="auth-status">
                <p id="status1"></p>
            </div>
        </form>
        <div class="auth-footer"> Already have an account? <a class="auth-link" id="login-link">Log in!</a></div>

    </div>
    <div class="auth-container" id="form-login">
        <div class="auth-header">LOG IN</div>
        <form action="javascript:void(0);">
            <div class="auth-field">
                <input type="text" name="username" id="username" placeholder="Username" class="ghinhandata" />
            </div>
            <div class="auth-field">
                <input type="password" name="password" id="password" placeholder="Password" class="ghinhandata" />
            </div>
            <div class="auth-field">
                <input type="submit" value="Log in" name="submit" class="btn-login" style="text-align:center" id="btnlogin" />
            </div>
            <div class="auth-status">
                <p id="status"></p>
            </div>
        </form>
        <div class="auth-footer">Don't have an account? <a class="auth-link" id="signup-link">Sign up now!</a></div>
    </div>
    <div id="form-submit">
        <div class="tab">
            <button class="tablinks" onclick="openCity(event, 'London')">Submit</button>
            <button class="tablinks" onclick="openCity(event, 'Paris')" id="tabHistory">Points</button>
            <button class="tablinks" onclick="openCity(event, 'Seoul')">Chat</button>
            <button class="tablinks" onclick="openCity(event, 'Tokyo')">Rank</button>
            <button class="logout" style="float:right;color:white" onclick="logout()">Log out</button>
        </div>
        <div id="London" class="tabcontent">
            <form action="/submitfile" method="post" enctype="multipart/form-data">
                <div style="width:45%">
                    <h4 style="font-family:'Leelawadee UI';" id="nowuser" name="nowuser"></h4>
                    <input type="hidden" id="idnowuser" name="idnowuser" readonly=true></input>
                    <input type="hidden" id="nowtopic" name="nowtopic" readonly=true></input>
                </div>
                <div style="height:50%;width:45%;float:left">
                <fieldset style="height:100%;width:100%">
                <legend>Submit</legend>
                <div class="head_topic">
                    <p style="display:inline;font-size:23px"><b>Topic: </b></p>
                    <select id="selectedTopic">
                      <option value="0" selected="selected">Chọn Topic</option>
                      <option value="1">Topic 1</option>
                      <option value="2">Topic 2</option>
                    </select>
                </div>
                <div style="height:100px;width:100%;overflow:scroll">
                     <p id="contentTopic"><b><i></i></b></p>
                </div>
                <div style="width:100%;float:right">
                    <input type="file" id="file" name="file" style="content:'Main file'"></input><br>
                    <input class="subpro" type="submit" id="send_file" onclick="" />
                </div>
              </fieldset>
            </div>
              <div style="text-align:left;font-size:23px;height:50%;width:45%;float:right;display:inline">
                  <fieldset>
                  <legend>Result</Legend>
                  <fieldset>
                  <legend>Topic Result</Legend>
                  <div id="pa_result" style="height:120px;width:100%;border:1px solid #ccc;font:16px/26px Georgia,Garamond,Serif;overflow:scroll;"></div>
                  </fieldset>
                  <fieldset>
                  <legend>Error</Legend>
                  <p id="Error" style="height:80px;width:100%;border:1px solid #ccc;font:16px/26px Georgia,Garamond,Serif;overflow:scroll;"></p>
                  </fieldset>
                  <h4 id="Point">Point: 0</h4>
                  </fieldset>
              </div>
            </form>
            <div style="float:right" id="view_result">
                <button id="btn_view_result">Xem kết quả</button>
            </div>
        </div>
        <div id="Paris" class="tabcontent">
            <fieldset style="width:50%">
            <legend>History Table</legend>
            <div id="scorePoint">
            <table id="historyTable">
              <thead>
              <tr>
                <th>Time</th>
                <th>Point</th>
                <th>Error</th>
              </tr>
             </thead>
              <tbody>
              <tr><td>D-M-Y H:M:S</td><td>Empty</td><td>Empty</td></tr>
             </tbody>
            </table>
            </div>
          </fieldset>
        </div>
        <div id="Tokyo" class="tabcontent">
            <div id="rank">

            </div>
        </div>
    </div>
</body>

</html>