<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&amp;subset=vietnamese" rel="stylesheet">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/tabs.css">
    <title>Login Page</title>
    <script src="jquery.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="js/tabs.js"></script>
    <script src="js/main.js"></script>
</head>

<body>
    <div class="auth-container" id="form_login">
        <div class="auth-header">LOG IN</div>
        <form action="javascript:void(0);">
            <div class="auth-field">
                <input type="text" name="username" id="username" placeholder="Username" class="ghinhandata" />
            </div>
            <div class="auth-field">
                <input type="password" name="password" id="password" placeholder="Password" class="ghinhandata" />
            </div>
            <div class="auth-field">
                <input type="submit" value="Log in" name="submit" class="btn-login" style="text-align:center" id="btnlogin" />
            </div>
            <div class="auth-status">
                <p id="status"></p>
            </div>
        </form>
        <div class="auth-footer">Don't have an account? <a class="auth-link" id="signup-link">Sign up now!</a></div>
    </div>
    <div class="auth-container" id="form_signup">
        <div class="auth-header">SIGN UP</div>
        <form action="javascript:void(0);">
            <div class="auth-field">
                <input type="text" name="username" id="Susername" placeholder="Username" class="ghinhandata" />
            </div>
            <div class="auth-field">
                <input type="text" name="usermail" id="Suseremail" placeholder="Email" class="ghinhandata" />
            </div>
            <div class="auth-field">
                <input type="password" name="password" id="Spassword" placeholder="Password" class="ghinhandata" />
            </div>
            <div class="auth-field">
                <input type="password" name="cpassword" id="Scpassword" placeholder="Confirm password" class="ghinhandata" />
            </div>
            <div class="auth-field">
                <input type="submit" value="Sign up and Log in" name="submit" class="btn-login" style="text-align:center" id="btnSL" />
            </div>
            <div class="auth-status">
                <p id="status1"></p>
            </div>
        </form>
        <div class="auth-footer"> Already have an account? <a class="auth-link" id="login-link">Log in!</a></div>

    </div>
    <div id="form_submit">
        <div class="tab">
            <button class="tablinks" onclick="openCity(event, 'London')">Submit</button>
            <button class="tablinks" onclick="openCity(event, 'Paris')">Points</button>
            <button class="tablinks" onclick="openCity(event, 'Seoul')">Chat</button>
            <button class="tablinks" onclick="openCity(event, 'Tokyo')">Rank</button>
            <button class="logout" style="float:right;color:white" onclick="logout()">Log out</button>
        </div>
        <div id="London" class="tabcontent">
            <form action="/submitfile" method="post" enctype="multipart/form-data">
                <div>
                    <h4 style="font-family:'Leelawadee UI';" id="nowuser" name="nowuser"></h4>
                    <input type="text" id="idnowuser" name="idnowuser" readonly=true />
                </div>
                <div class="head_topic">
                    <h3> Topic</h3>
                </div>

                <div id="topicList">
                    <button class="topicAr" id="Topic1" onclick="">Chủ đề 1</button>
                    <button class="topicAr" id="Topic2" onclick="">Chủ đề 2</button>
                    <button class="topicAr" id="Topic3" onclick="">Chủ đề 3</button>
                </div>
                <div>
                    <p><b><i> Em hãy viết một chương trình đọc vào các số trong file input.txt và tìm 4 giá trị: tổng của dãy số, giá trị lớn nhất, giá trị nhỏ nhất, và số trung bình, sau đó ghi ra file output.txt.</i></b></p>
                </div>

                <div class="side_submit">
                    <input type="file" id="file" name="file" style="content:'Main file'" /><br>
                    <input class="subpro" type="submit" id="send_file" onclick="" />
                </div>
                <div class="side_result">
                    <div>
                        <h4>Result</h4>
                    </div>
                    <div style="text-align:left;font-size:14px">
                        <h4>Testcase 1: (30%)</h4>
                        <p id="pa_result1"></p>
                        <h4>Testcase 2: (70%)</h4>
                        <p id="pa_result2"></p>
                        <h4 id="Point">Point: 0</h4>
                        <p id="Fault">Fault: None</p>
                    </div>
                </div>
            </form>
            <div style="float:right" id="view_result">
                <button id="btn_view_result">Xem kết quả</button>
            </div>
        </div>
        <div id="Paris" class="tabcontent">
            <div id="scorePoint">

            </div>
        </div>
        <div id="Tokyo" class="tabcontent">
            <div id="rank">

            </div>
        </div>
    </div>
</body>

</html>