    html {
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(https://s-media-cache-ak0.pinimg.com/originals/7c/f2/d9/7cf2d9ff39a68b207173a132d3d3e0db.jpg) no-repeat center center fixed;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://s-media-cache-ak0.pinimg.com/originals/7c/f2/d9/7cf2d9ff39a68b207173a132d3d3e0db.jpg) no-repeat center center fixed;
        background-size: cover;
    }
    
    h1,
    p {
        font-family: "Leelawadee UI";
    }
    .login-heading {
        font-weight: 300;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-size: 250%;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        text-align: center;
        color: #1c1c1c;
        font-family: 'Roboto';
    }

    .khungtieude {
        height: 30%;
        width: 100%;
    }
    
    .khunglonbaoquanh {
        border-radius: 5px;
        margin-top: 12%;
        margin-left: 35%;
        width: 30%;
        height: 400px;
        background-color: #ffffff;
        -webkit-box-shadow: 5px 5px 5px #555555;
                box-shadow: 5px 5px 5px #555555;
    }
    
    .ghinhandata {
        width: 90%;
        height: 30px;
        background-color: #f1f1f1;
        border: none;
        border-radius: 4px;
        padding-left: 3%;
        padding-right: 3%;
    }
    
    .divghinhandata {
        padding-left: 5.5%;
        padding-bottom: 4%;
    }
    
    .buttonlogin {
        width: 80%;
        height: 30px;
        background-color: #2980b9;
        text-align: center;
        color: white;
        border-radius: 4px;
        border: none;
        margin-left: 8%;
    }
    
    .buttonsignup {
        width: 80%;
        height: 30px;
        color: #fff;
        background-color: inherit;
        text-align: center;
        border-radius: 4px;
        border: none;
        margin-left: 8%;
    }
    
    .divstatus {
        height: 50px;
        width: 100%;
        text-align: center;
        color: #c0392b;
        font-size: 20px;
    }